*{
	margin: 0;
	padding: 0;
}

body {
	background: #eee;	 
}

.wrapper {
	width: 1200px;
	margin: 10px auto; 
	padding: 5px 25px; 
	border: 5px solid #333; 
	border-radius: 20px; 
	box-shadow: 0px 10px 10px rgba(0, 0, 0, .8); 
	background: #fff; 
}

h3 {margin: 20px 0;}

/*-- HEADER BEGIN --*/

h1,
cite {color: brown}

h1 {
	font-family: Impact;
	font-size: 36px;
	margin: 30px 0;
}



header {line-height: 20px}

/*-- HEADER END --*/

section {overflow: hidden;}

article p:nth-child(2){	
	padding-top: 15px;
}

article p:nth-child(2):first-letter{
	color: red;
	font: bold 35px Verdana;
	padding-right: 5px;
}

article p:last-child:first-letter{
	color: blue;
	font-size: 40px;	
}

article p:last-child {
	display: block;
	clear: both;
	font-style: italic;
	padding-bottom: 15px;
}

em + b{color: green;}

figure {
	float: left;
	margin: 15px 40px 15px 0;
	border: 1px solid gray;
}

figcaption {
	font-size: 14px;
	font-style: italic;
	text-align: center; 
}

.red {
	clear: both;
	padding-top: 14px;	
}

blockquote {	
	padding-top: 15px;
}

cite {
	display: block;
}

/*-- LIST BEGIN --*/

article ul li:first-child a{
 	color: brown;
 	font-size: 20px;
 }

 article ul li:first-child a:hover {
 	color: orange;
 	font-size: 20px;
 }


article ul li:last-child a{
 	color: brown;
 	font-size: 20px;
 }

 article ul li:last-child a:hover {
 	color: orange;
 	font-size: 20px;
 }

 article ul li:nth-child(3) a{ 	
 	font-size: 26px;
 }

 article ul li:nth-child(3) a:hover {
 	color: orange;
 	font-size: 26px;
 }

li {list-style-position: inside;}

li a:hover {
 	color: orange;
 }

 a[href*="facebook"]:before {
 	content: "Facebook: ";
 }

 a[rel="author"]:after {
 	content: " - Ссылка на сайт автора";
 }

 /*-- LIST END --*/
